@model IEnumerable<QuanLyDiem.Models.HocKy>

@{
    ViewData["Title"] = "Index";
}

<h1>Học kỳ</h1>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
            <div class="w3-center"><a class="btn w3-round-large w3-medium btn btn-outline-info" asp-action="Create">Thêm mới học kỳ</a></div>

                <div class="table-responsive m-t-40 ">
                    <table id="myTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th onclick="sortTable(0)">
                                    Khóa học
                                </th>
                                <th onclick="sortTable(1)">
                                    Mã học kỳ
                                </th>
                                <th onclick="sortTable(1)">
                                    Tên học kỳ
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                    @foreach (var item in Model) {
                             <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.KhoaHoc.MaKhoaHoc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaHocKy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TenHocKy)
                                </td>
                             <td>
                                <a class="btn btn-outline-info w3-round-large" asp-action="Edit" asp-route-id="@item.MaHocKy">Sửa</a>
                                <a class="btn btn-outline-info w3-round-large" asp-action="Details" asp-route-id="@item.MaHocKy">Hiển thị</a>
                                <a class="btn btn-outline-info w3-round-large" asp-action="Delete" asp-route-id="@item.MaHocKy">Xóa</a>
                             </td>
                             </tr>       
                    }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>