@model IEnumerable<QuanLyDiem.Models.SinhVien>

@{
    ViewData["Title"] = "Index";
}

<h3>Danh sách sinh viên</h3>

<div class="row">
    <div class="col-12">
        <div class="card w3-round-large">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="w3-right"><a class="btn w3-round-large w3-medium btn btn-outline-info" asp-action="Create">Tạo mới sinh viên</a></div>
                    </div>
                    <div class="col-md-6">
                        <div class="w3-left"><a class="btn w3-round-large w3-medium btn btn-outline-info" asp-action="Download">Tải về danh sách</a></div>
                    </div>
                </div>                
                <div class="table-responsive m-t-40 ">
                    <table id="myTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th onclick="sortTable(0)" class="column_name" style="width:15%">
                                    Mã sinh viên
                                </th>
                                <th onclick="sortTable(1)" class="column_name" style="width:20%">
                                    Tên sinh viên
                                </th>
                                <th onclick="sortTable(2)" class="column_name" style="width:5%">
                                    Giới tính
                                </th>
                                <th onclick="sortTable(3)" class="column_name" style="width:10%">
                                    Ngày sinh
                                </th>
                                <th onclick="sortTable(4)" class="column_name" style="width:15%">
                                    Chuyên ngành
                                </th>
                                <th onclick="sortTable(5)" class="column_name" style="width:5%">
                                    Khóa học
                                </th>
                                <th onclick="sortTable(6)" class="column_name" style="width:10%">
                                    Tình trạng
                                </th>
                                <th style="width:15%"></th>
                            </tr>
                        </thead>
                        <tbody>
                    @foreach (var item in Model) {
                            <tr>
                                <td >
                                    @Html.DisplayFor(modelItem => item.MaSinhVien)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TenSinhVien)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GioiTinh)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NgaySinh)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ChuyenNganh.TenChuyenNganh)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.KhoaHoc.TenKhoaHoc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TinhTrang)
                                </td>
                                <td >
                                    <a class="btn btn-outline-info w3-medium w3-round-large" asp-action="Edit" asp-route-id="@item.MaSinhVien">Sửa</a> |
                                    <a class="btn btn-outline-info w3-medium w3-round-large" asp-action="Delete"  asp-route-id="@item.MaSinhVien">Xóa</a>
                                    <a class="btn btn-outline-info w3-medium w3-round-large" style="margin-top: 2px" asp-action="Details" asp-route-id="@item.MaSinhVien">Bảng điểm</a>
                                </td>
                            </tr>
                    }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
