@model QuanLyDiem.Models.GiangVien

@{
    ViewData["Title"] = "Details";
}

<h1>Hiển thị</h1>

<div>
    <hr />
    <dl class="w3-card w3-white container" style="width:60%">
        <div class="row">
                <dt class = "col-sm-6">
                    Tên Giảng Viên
                </dt>
                <dd class = "col-sm-6">
                    @Html.DisplayFor(model => model.TenGiangVien)
                </dd>
            </div>
            <div class="row">
                <dt class = "col-sm-6">
                    Giới tính
                </dt>
                <dd class = "col-sm-6">
                    @Html.DisplayFor(model => model.GioiTinh)
                </dd>
            </div>
            <div class="row">
                <dt class = "col-sm-6">
                    Ngày sinh
                </dt>
                <dd class = "col-sm-6">
                    @Html.DisplayFor(model => model.NgaySinh)
                </dd>
            </div>
            <div class="row">
                <dt class = "col-sm-6">
                    Khoa
                </dt>
                <dd class = "col-sm-6">
                    @Html.DisplayFor(model => model.Khoa.MaKhoa)
                </dd>
            </div>
            <div class="row">
                <dt class = "col-sm-6">
                    Tên chuyên ngành
                </dt>
                <dd class = "col-sm-6">
                    @Html.DisplayFor(model => model.ChuyenNganh.TenChuyenNganh)
                </dd>
        </div>
        </dl>    
        <form class="w3-center" asp-action="Delete">
            <input type="hidden" asp-for="MaGiangVien" />
            <input type="submit" value="Hiển thị" class="btn btn-danger" /> |
            <a asp-action="Index">Hủy</a>
        </form>
</div>
