@model IEnumerable<QuanLyDiem.Models.ChuyenNganh>

@{
    ViewData["Title"] = "Index";
}

<h1>Chuyên Ngành</h1>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="w3-center"><a class="btn w3-round-large w3-medium btn btn-outline-info" asp-action="Create">Thêm mới chuyên ngành</a></div>

                <div class="table-responsive m-t-40 ">
                    <table id="myTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th onclick="sortTable(0)">
                                    Mã chuyên ngành
                                </th>
                                <th onclick="sortTable(1)">
                                    Tên chuyên ngành
                                </th>
                                <th onclick="sortTable(2)">
                                    Khoa
                                </th> 
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model) {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MaChuyenNganh)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TenChuyenNganh)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Khoa.MaKhoa)
                                        </td>  
                                        <td>
                                        <a class="btn btn-outline-info w3-round-large" asp-action="Edit" asp-route-id="@item.MaChuyenNganh">Sửa</a>
                                        <a class="btn btn-outline-info w3-round-large" asp-action="Delete" asp-route-id="@item.MaChuyenNganh">Xóa</a>
                                        </td>
                                    </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

